<a href="https://colab.research.google.com/github/yuanjinren/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/YuanjinRen_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [0]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [0]:
df['SALE_PRICE'].dtype

dtype('int64')

In [0]:
df['BUILDING_CLASS_CATEGORY'].value_counts()

01 ONE FAMILY DWELLINGS                       5061
02 TWO FAMILY DWELLINGS                       4567
10 COOPS - ELEVATOR APARTMENTS                3471
13 CONDOS - ELEVATOR APARTMENTS               3339
03 THREE FAMILY DWELLINGS                     1438
07 RENTALS - WALKUP APARTMENTS                 807
09 COOPS - WALKUP APARTMENTS                   672
15 CONDOS - 2-10 UNIT RESIDENTIAL              421
04 TAX CLASS 1 CONDOS                          418
44 CONDO PARKING                               366
17 CONDO COOPS                                 300
05 TAX CLASS 1 VACANT LAND                     288
22 STORE BUILDINGS                             288
12 CONDOS - WALKUP APARTMENTS                  256
14 RENTALS - 4-10 UNIT                         200
29 COMMERCIAL GARAGES                          147
08 RENTALS - ELEVATOR APARTMENTS               120
30 WAREHOUSES                                  105
21 OFFICE BUILDINGS                             96
31 COMMERCIAL VACANT LAND                       80
43 CONDO OFFICE BUILDINGS                       80
47 CONDO NON-BUSINESS STORAGE                   75
46 CONDO STORE BUILDINGS                        65
27 FACTORIES                                    54
06 TAX CLASS 1 - OTHER                          42
37 RELIGIOUS FACILITIES                         38
45 CONDO HOTELS                                 32
41 TAX CLASS 4 - OTHER                          30
11A CONDO-RENTALS                               30
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      29
33 EDUCATIONAL FACILITIES                       24
28 COMMERCIAL CONDOS                            23
32 HOSPITAL AND HEALTH FACILITIES               21
26 OTHER HOTELS                                 15
35 INDOOR PUBLIC AND CULTURAL FACILITIES         7
34 THEATRES                                      7
23 LOFT BUILDINGS                                7
25 LUXURY HOTELS                                 6
36 OUTDOOR RECREATIONAL FACILITIES               4
49 CONDO WAREHOUSES/FACTORY/INDUS                4
48 CONDO TERRACES/GARDENS/CABANAS                3
38 ASYLUMS AND HOMES                             2
39 TRANSPORTATION FACILITIES                     1
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC        1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [0]:
#set up condition like 'BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million'
condition = (df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS') & (df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)
condition

0        False
1        False
2        False
3        False
4        False
         ...
23035     True
23036    False
23037    False
23038    False
23039    False
Length: 23040, dtype: bool

In [0]:
df_subset = df[condition]  #check the subset
df_subset.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [0]:
df_subset.shape

(3151, 21)

In [0]:
df_subset.isnull().sum()  #check if there is missing values in subset

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CATEGORY              0
TAX_CLASS_AT_PRESENT                 0
BLOCK                                0
LOT                                  0
EASE-MENT                         3151
BUILDING_CLASS_AT_PRESENT            0
ADDRESS                              0
APARTMENT_NUMBER                  3150
ZIP_CODE                             0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                     0
GROSS_SQUARE_FEET                    0
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_PRICE                           0
SALE_DATE                            0
dtype: int64

In [0]:
df_subset=df_subset.drop(['EASE-MENT','APARTMENT_NUMBER'],axis=1)  #drop missing values in subset

In [0]:
df_subset.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'BUILDING_CLASS_AT_PRESENT',
       'ADDRESS', 'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS',
       'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [0]:
df_subset.shape

(3151, 19)

In [0]:
df_subset['SALE_DATE'].value_counts(ascending=True)

02/17/2019     1
04/14/2019     1
03/09/2019     1
03/30/2019     1
03/17/2019     1
              ..
01/24/2019    56
01/15/2019    57
02/28/2019    58
03/29/2019    62
01/31/2019    78
Name: SALE_DATE, Length: 91, dtype: int64

In [0]:
# split subset into training set and testing set, set a cutoff date, 
# Jan 2019-Mar 2019 goes to training set, otherwise, it goes to testing set.
df_subset['SALE_DATE'] = pd.to_datetime(df_subset['SALE_DATE'], infer_datetime_format=True)  
cutoff = pd.to_datetime('2019-04-01')
train = df_subset[df_subset['SALE_DATE']<cutoff]
test = df_subset[df_subset['SALE_DATE']>=cutoff]

In [0]:
train.describe(exclude='number')

       BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE            SALE_DATE
count     2507         2507  ...                           2507                 2507
unique       5            6  ...                             11                   68
top          4        OTHER  ...                             A1  2019-01-31 00:00:00
freq      1204         2382  ...                            919                   78
first      NaN          NaN  ...                            NaN  2019-01-01 00:00:00
last       NaN          NaN  ...                            NaN  2019-03-30 00:00:00

[6 rows x 9 columns]

In [0]:
train['NEIGHBORHOOD'].unique() # check what unique value does 'NEIGHBORHOOD' column have

array(['OTHER', 'FLUSHING-NORTH', 'BEDFORD STUYVESANT', 'FOREST HILLS',
       'BOROUGH PARK', 'ASTORIA'], dtype=object)

In [0]:
train.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'BUILDING_CLASS_AT_PRESENT',
       'ADDRESS', 'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS',
       'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [0]:
target = 'SALE_PRICE'
high_cardinality = ['BUILDING_CLASS_AT_PRESENT','ADDRESS','LAND_SQUARE_FEET','BUILDING_CLASS_AT_TIME_OF_SALE','SALE_DATE']
features = train.columns.drop(high_cardinality + [target]).to_list()  #drop all high cardinality columns and target column
features

['BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING_CLASS_CATEGORY',
 'TAX_CLASS_AT_PRESENT',
 'BLOCK',
 'LOT',
 'ZIP_CODE',
 'RESIDENTIAL_UNITS',
 'COMMERCIAL_UNITS',
 'TOTAL_UNITS',
 'GROSS_SQUARE_FEET',
 'YEAR_BUILT',
 'TAX_CLASS_AT_TIME_OF_SALE']

In [0]:
X_train = train[features]   
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [0]:
X_train.shape

(2507, 13)

In [0]:
import category_encoders as ce  #import the category encoder library to encode any non-numeric features

encoder = ce.one_hot.OneHotEncoder(use_cat_names=True)
X_train_enc = encoder.fit_transform(X_train)
X_test_enc = encoder.transform(X_test)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
X_train_enc

       BOROUGH_3  BOROUGH_4  ...  YEAR_BUILT  TAX_CLASS_AT_TIME_OF_SALE
44             1          0  ...      1930.0                          1
61             0          1  ...      1940.0                          1
78             0          0  ...      1925.0                          1
108            1          0  ...      1899.0                          1
111            1          0  ...      1940.0                          1
...          ...        ...  ...         ...                        ...
18129          0          0  ...      1950.0                          1
18130          0          0  ...      1980.0                          1
18132          0          0  ...      2018.0                          1
18134          0          0  ...      1930.0                          1
18147          0          1  ...      1950.0                          1

[2507 rows x 23 columns]

In [0]:
X_test_enc

       BOROUGH_3  BOROUGH_4  ...  YEAR_BUILT  TAX_CLASS_AT_TIME_OF_SALE
18235          0          0  ...      1930.0                          1
18239          0          0  ...      1935.0                          1
18244          1          0  ...      1925.0                          1
18280          1          0  ...      1915.0                          1
18285          1          0  ...      1925.0                          1
...          ...        ...  ...         ...                        ...
23029          0          1  ...      1925.0                          1
23031          0          1  ...      1930.0                          1
23032          0          1  ...      1945.0                          1
23033          0          1  ...      1935.0                          1
23035          0          1  ...      1945.0                          1

[644 rows x 23 columns]

In [0]:
# Do feature selection with SelectKBest
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=5)
X_train_kbest = selector.fit_transform(X_train_enc, y_train)
X_test_kbest = selector.transform(X_test_enc)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [0]:
X_train_kbest.shape, X_test_kbest.shape

((2507, 5), (644, 5))

In [0]:
selector.get_support()

array([ True, False, False,  True, False,  True, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False,  True, False, False])

In [0]:
X_train_enc.columns[selector.get_support()]  #check which columns are chosen

Index(['BOROUGH_3', 'BOROUGH_5', 'NEIGHBORHOOD_OTHER', 'ZIP_CODE',
       'GROSS_SQUARE_FEET'],
      dtype='object')

In [0]:
X_train_enc.columns[~selector.get_support()]   #check which columns are not chosen

Index(['BOROUGH_4', 'BOROUGH_2', 'BOROUGH_1', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_BEDFORD STUYVESANT', 'NEIGHBORHOOD_FOREST HILLS',
       'NEIGHBORHOOD_BOROUGH PARK', 'NEIGHBORHOOD_ASTORIA',
       'BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS',
       'TAX_CLASS_AT_PRESENT_1', 'TAX_CLASS_AT_PRESENT_1D', 'BLOCK', 'LOT',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE'],
      dtype='object')

Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)

In [0]:
X_train.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'ZIP_CODE', 'RESIDENTIAL_UNITS',
       'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE'],
      dtype='object')

In [0]:
# pick two features 'GROSS_SQUARE_FEET' and 'TOTAL_UNITS' to fit the ridge regression model
features_new = ['GROSS_SQUARE_FEET','TOTAL_UNITS']
X_train_new = train[features_new]
X_test_new = test[features_new]
print(X_train_new.shape)
print(X_test.shape)

(2507, 2)
(644, 2)

In [0]:
#predict the y_test value and calculte mae with different alphas
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
for alpha in [0.001,0.01,0.1,1.0,10,100.0,1000.0]:
  ridge = Ridge(alpha = alpha,normalize=True)
  ridge.fit(X_train_new,y_train)
  y_pred = ridge.predict(X_test_new)
  mae=mean_absolute_error(y_test, y_pred)
  print(f'Test Mean Abosolute Error: ${mae:,.0f} when alpha is: {alpha}')

Test Mean Abosolute Error: $183,717 when alpha is: 0.001
Test Mean Abosolute Error: $183,786 when alpha is: 0.01
Test Mean Abosolute Error: $184,585 when alpha is: 0.1
Test Mean Abosolute Error: $191,997 when alpha is: 1.0
Test Mean Abosolute Error: $207,107 when alpha is: 10
Test Mean Abosolute Error: $211,049 when alpha is: 100.0
Test Mean Abosolute Error: $211,512 when alpha is: 1000.0

In [0]:
#use feature selection result, predict the y_test value and calculte mae with different alphas
for alpha in [0.001,0.01,0.1,1.0,10,100.0,1000.0]:
  ridge2 = Ridge(alpha = alpha,normalize=True)
  ridge2.fit(X_train_kbest,y_train)
  y_pred = ridge2.predict(X_test_kbest)
  mae=mean_absolute_error(y_test, y_pred)
  print(f'Test Mean Abosolute Error: ${mae:,.0f} when alpha is: {alpha}')

Test Mean Abosolute Error: $174,220 when alpha is: 0.001
Test Mean Abosolute Error: $174,155 when alpha is: 0.01
Test Mean Abosolute Error: $174,436 when alpha is: 0.1
Test Mean Abosolute Error: $185,268 when alpha is: 1.0
Test Mean Abosolute Error: $205,363 when alpha is: 10
Test Mean Abosolute Error: $210,857 when alpha is: 100.0
Test Mean Abosolute Error: $211,493 when alpha is: 1000.0